<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment="modals(page)">
    <!-- 添加模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" th:switch="${page}">
                        <span th:case="${'device-type'}">新增设备类型</span>
                        <span th:case="${'factorys'}">新增工厂</span>
                        <span th:case="${'client_manage'}">新增客户</span>
                        <span th:case="${'sale_manage'}">新增销售</span>
                        <span th:case="${'alarm_push_manage'}">新增报警</span>
                        <span th:case="${'taizhang_manage'}">新增台账</span>
                    </h4>
                </div>
                <div class="modal-body" th:switch="${page}">
                    <th:block th:case="${'device-type'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型名称</span>
                        </span>
                            <input type="text" class="form-control" id="TypeName">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-compressed"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库名</span>
                        </span>
                            <input type="text" class="form-control" id="TypeDBName">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型描述</span>
                        </span>
                            <input type="text" class="form-control" id="TypeDescription">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型表名</span>
                        </span>
                            <input type="text" class="form-control" id="TypeTableName">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-home" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库IP</span>
                        </span>
                            <input type="text" class="form-control" id="DBIP">
                        </div>
                    </th:block>
                    <th:block th:case="${'factorys'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">工厂ID</span>
                        </span>
                            <input type="text" class="form-control" id="FactoryId">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-compressed"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">工厂名称</span>
                        </span>
                            <input type="text" class="form-control" id="FactoryName">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="BeiZhu">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">所属用户</span>
                        </span>
                            <select class="selectpicker form-control" id="UserName" data-live-search="true"
                                    data-live-search-placeholder="搜索"
                                    data-actions-box="true">　
                            </select>
                        </div>
                    </th:block>
                    <th:block th:case="${'client_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">客户名称</span>
                        </span>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-earphone"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">联系方式</span>
                        </span>
                            <input type="text" class="form-control" id="phone">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-home" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">客户地址</span>
                        </span>
                            <input type="text" class="form-control" id="address">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">销售记录</span>
                        </span>
                            <input type="text" class="form-control" id="salerecord">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon  glyphicon-print" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">传真</span>
                        </span>
                            <input type="text" class="form-control" id="fax">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-edit" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="comment">
                        </div>
                    </th:block>
                    <th:block th:case="${'sale_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">销售客户</span>
                        </span>
                            <input type="text" class="form-control" id="client_id">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tags"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">器材名称</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_name">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-yen" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">器材价钱</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_price">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">描述</span>
                        </span>
                            <input type="text" class="form-control" id="description">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="note">
                        </div>
                    </th:block>
                    <th:block th:case="${'alarm_push_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警点位</span>
                        </span>
                            <input type="text" class="form-control" id="point">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-envelope"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警推送消息</span>
                        </span>
                            <input type="text" class="form-control" id="info">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-plus-sign" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警推送方式</span>
                        </span>
                            <input type="text" class="form-control" id="type">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-flag" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警紧急程度</span>
                        </span>
                            <input type="text" class="form-control" id="rank">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon  glyphicon-print" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备id</span>
                        </span>
                            <input type="text" class="form-control" id="phone">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-edit" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="comment">
                        </div>
                    </th:block>
                    <th:block th:case="${'taizhang_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备所属用户</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_user">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tag"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备名称</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_name">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-asterisk" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备型号</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_type">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-th-large" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">控制类型</span>
                        </span>
                            <input type="text" class="form-control" id="control_type">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">生产日期</span>
                        </span>
                            <input type="text" class="form-control" id="product_date">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-user" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">责任人</span>
                        </span>
                            <input type="text" class="form-control" id="responsible">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-repeat" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">维护周期</span>
                        </span>
                            <input type="text" class="form-control" id="protect_cycle">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-registration-mark" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备厂商</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_vendor">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-eye-open" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">当前状态</span>
                        </span>
                            <input type="text" class="form-control" id="current_state">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="comment">
                        </div>
                    </th:block>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="addBtn">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 修改模态框（Modal） -->
    <div class="modal fade" id="myModal1" tabindex="-2" role="dialog" aria-labelledby="myModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel1" th:switch="${page}">
                        <th:block th:case="${'device-type'}">修改设备类型</th:block>
                        <th:block th:case="${'device-table'}">请输入表名</th:block>
                        <th:block th:case="${'factorys'}">修改工厂</th:block>
                        <th:block th:case="${'client_manage'}">修改客户</th:block>
                        <th:block th:case="${'sale_manage'}">修改销售</th:block>
                        <th:block th:case="${'alarm_push_manage'}">修改报警</th:block>
                        <th:block th:case="${'taizhang_manage'}">修改台账</th:block>
                    </h4>
                </div>
                <div class="modal-body" th:switch="${page}">
                    <th:block th:case="${'factorys'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">工厂ID</span>
                        </span>
                            <input type="text" class="form-control" id="FactoryId1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-compressed"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">工厂名称</span>
                        </span>
                            <input type="text" class="form-control" id="FactoryName1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="BeiZhu1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">所属用户</span>
                        </span>
                            <select class="selectpicker1 form-control" id="UserName1" data-live-search="true"
                                    data-live-search-placeholder="搜索"
                                    data-actions-box="true">　
                            </select>
                        </div>
                    </th:block>
                    <th:block th:case="${'device-type'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型名称</span>
                        </span>
                            <input type="text" class="form-control" id="TypeName1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-compressed"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库名</span>
                        </span>
                            <input type="text" class="form-control" id="TypeDBName1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型描述</span>
                        </span>
                            <input type="text" class="form-control" id="TypeDescription1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型表名</span>
                        </span>
                            <input type="text" class="form-control" id="TypeTableName1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-home" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库IP</span>
                        </span>
                            <input type="text" class="form-control" id="DBIP1">
                        </div>
                    </th:block>
                    <th:block th:case="${'device-table'}" class="input-group">
                        <input type="text" class="form-control" id="TableName"/>
                    </th:block>
                    <th:block th:case="${'client_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">客户名称</span>
                        </span>
                            <input type="text" class="form-control" id="name1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-earphone"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">联系方式</span>
                        </span>
                            <input type="text" class="form-control" id="phone1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-home" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">客户地址</span>
                        </span>
                            <input type="text" class="form-control" id="address1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">销售记录</span>
                        </span>
                            <input type="text" class="form-control" id="salerecord1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-print" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">传真</span>
                        </span>
                            <input type="text" class="form-control" id="fax1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-edit" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="comment1">
                        </div>
                    </th:block>
                    <th:block th:case="${'sale_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">销售客户</span>
                        </span>
                            <input type="text" class="form-control" id="client_id1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tags"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">器材名称</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_name1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-yen" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">器材价钱</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_price1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">描述</span>
                        </span>
                            <input type="text" class="form-control" id="description1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="note1">
                        </div>
                    </th:block>
                    <th:block th:case="${'alarm_push_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警点位</span>
                        </span>
                            <input type="text" class="form-control" id="point1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-envelope"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警推送信息</span>
                        </span>
                            <input type="text" class="form-control" id="info1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-plus-sign" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警推送方式</span>
                        </span>
                            <input type="text" class="form-control" id="type1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-flag" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">报警紧急程度</span>
                        </span>
                            <input type="text" class="form-control" id="rank1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-print" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备id</span>
                        </span>
                            <input type="text" class="form-control" id="phone1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-edit" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="comment1">
                        </div>
                    </th:block>
                    <th:block th:case="${'taizhang_manage'}">
                        <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备所属用户</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_user1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-compressed"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备名称</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_name1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-asterisk" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备型号</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_type1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-th-large" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">控制类型</span>
                        </span>
                            <input type="text" class="form-control" id="control_type1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">生产日期</span>
                        </span>
                            <input type="text" class="form-control" id="product_date1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-user" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">责任人</span>
                        </span>
                            <input type="text" class="form-control" id="responsible1">
                        </div><div class="input-group">
                        <span class="glyphicon glyphicon-repeat" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">维护周期</span>
                        </span>
                        <input type="text" class="form-control" id="protect_cycle1">
                    </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-registration-mark" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">设备厂商</span>
                        </span>
                            <input type="text" class="form-control" id="equipment_vendor1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-eye-open" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">当前状态</span>
                        </span>
                            <input type="text" class="form-control" id="current_state1">
                        </div>
                        <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">备注</span>
                        </span>
                            <input type="text" class="form-control" id="comment1">
                        </div>
                    </th:block>
                </div>
                <div class="modal-footer" th:switch="${page}">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <th:block th:case="*">
                        <button type="button" class="btn btn-primary" id="updateBtn">修改</button>
                    </th:block>
                    <th:block th:case="${'device-table'}">
                        <button type="button" class="btn btn-primary" id="confirmBtn">确定</button>
                    </th:block>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- jQuery Js -->
<script th:src="@{../../static/js/jquery-3.3.1.min.js}"></script>

<!-- Bootstrap Js -->
<script th:src="@{../../static/js/bootstrap.js}"></script>
</body>
</html>