<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head th:include="fragments/head :: head('后端管理平台')">
    <link th:href="@{../static/css/bootstrap-table.css}" rel="stylesheet"/>
    <script th:src="@{../static/js/bootstrap-table.js}"></script>
    <script th:src="@{../static/js/locale/bootstrap-table-zh-CN.js}"></script>
</head>
<body>

<div id="page-wrapper" layout:fragment="~{content}">
    <div class="header">
        <h1 class="page-header">
            WELCOME <span sec:authentication="name"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">管理</a></li>
            <li><a href="#">新增设备定义表</a></li>
            <li><a href="#"></a></li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="mytab" class="table table-hover">
            </table>
            <div>
                <button id="createBtn" type="button" class="btn btn-primary" style="display:block;margin:15px auto">
                    生成表格
                </button>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(function () {
            /*<![CDATA[*/
            var MAINHOST = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/'';
            /*]]>*/

            var deviceTypeArr = [
                "bigint", "binary", "bit", "blob", "char", "date", "year",
                "datetime", "decimal", "double", "enum", "float", "geometry",
                "geometrycollection", "int", "integer", "json", "linestring",
                "longblob", "longtext", "mediumblob", "mediumint", "mediumtext",
                "multilinestring", "multipoint", "multipolygon", "numeric", "point",
                "polygon", "real", "set", "smallint", "text", "time", "timestamp",
                "tinyblob", "tinyint", "tinytext", "varbinary", "varchar"
            ];

            $("#mytab").bootstrapTable({
                // clickToSelect: true,
                cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,//设置为 true 会有隔行变色效果
                undefinedText: "空",//当数据为 undefined 时显示的字符
                singleSelect: true, // 单选checkbox
                data_local: "zh-US",//表格汉化
                editable: true,
                // height: 750,
                uniqueId: 'id',      //每一行的唯一标识，一般为主键列
                // idField: "userId",//指定主键列
                columns: [{
                    checkbox: true,
                    align: "center",
                    field: 'index',
                    visible: true  //是否显示
                }, {
                    field: 'FieldName',
                    title: '名',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "14%"
                        }
                    }, editable: {
                        type: 'text',
                        title: '名',
                        defaultValue: '',
                        emptytext: '空',
                        validate: function (v) {
                            if (!v) return '字段名不能为空';
                        }
                    }
                }, {
                    field: 'FieldType',
                    title: '类型',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "14%"
                        }
                    }, editable: {
                        type: 'select',
                        title: '类型',
                        defaultValue: '',
                        emptytext: '空',
                        source: function () {
                            var source = [];
                            for (var i = 0; i < deviceTypeArr.length; i++) {
                                var json = {};
                                json['value'] = i + 1 + "";
                                json['text'] = deviceTypeArr[i];
                                source.push(json);
                            }
                            return source;
                        },
                        validate: function (v) {
                            if (!v) return '类型不能为空';
                        }
                    }
                }, {
                    field: 'FieldLength',
                    title: '长度',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "14%"
                        }
                    }, editable: {
                        type: 'text',
                        title: '长度',
                        defaultValue: '',
                        emptytext: '空',
                        validate: function (v) {
                            if (v) {
                                if (isNaN(parseInt(v)))
                                    return "长度必须为数字！";
                            }
                        }
                    }
                }, {
                    field: 'FieldPoint',
                    title: '小数点',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "14%"
                        }
                    }, editable: {
                        type: 'text',
                        title: '小数点',
                        defaultValue: '',
                        emptytext: '空',
                        validate: function (v) {
                            if (v) {
                                if (isNaN(parseInt(v)))
                                    return "小数点必须为数字！";
                            }
                        }
                    }
                }, {
                    field: 'Default',
                    title: '默认值',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "14%"
                        }
                    }, editable: {
                        type: 'text',
                        title: '默认值',
                        defaultValue: '',
                        emptytext: '空'
                    }
                }, {
                    field: 'Comment',
                    title: '注释',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "14%"
                        }
                    }, editable: {
                        type: 'text',
                        title: '注释',
                        defaultValue: '',
                        emptytext: '空'
                    }
                }, {
                    field: 'IsPKey',
                    title: '主键',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "5%"
                        }
                    }, editable: {
                        type: 'checklist',
                        title: '主键',
                        defaultValue: '否',
                        emptytext: '否',
                        source: [
                            {value: '是', text: 'IsPKey'}
                        ],
                        display: function (value) {
                            $(this).text(value);
                        }
                    }
                }, {
                    field: 'NotNull',
                    title: '不为NULL',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "5%"
                        }
                    }, editable: {
                        type: 'checklist',
                        title: '不为NULL',
                        defaultValue: '否',
                        emptytext: '否',
                        source: [
                            {value: '是', text: 'NotNull'}
                        ],
                        display: function (value) {
                            $(this).text(value);
                        }
                    }
                }, {
                    field: 'Increment',
                    title: '自增',
                    align: "center",
                    cellStyle: {
                        css: {
                            "line-height": "20px;",
                            "width": "5%"
                        }
                    }, editable: {
                        type: 'checklist',
                        title: '自增',
                        defaultValue: '否',
                        emptytext: '否',
                        source: [
                            {value: '是', text: 'Increment'}
                        ],
                        display: function (value) {
                            $(this).text(value);
                        }
                    }
                }]
            });

            /**默认初始化一行**/
            $("#mytab").bootstrapTable('append', {
                FieldName: '',
                FieldType: '',
                FieldLength: '',
                FieldPoint: '',
                Comment: '',
                Default: '',
                IsPKey: '',
                NotNull: '',
                Increment: ''
            });

            /** 新增按钮点击事件 **/
            $("#btn_add").click(function () {
                $("#mytab").bootstrapTable('append', {
                    FieldName: '',
                    FieldType: '',
                    FieldLength: '',
                    FieldPoint: '',
                    Comment: '',
                    Default: '',
                    IsPKey: '',
                    NotNull: '',
                    Increment: ''
                });
            });

            /** 删除按钮点击事件 **/
            $("#btn_delete").click(function () {
                $("#mytab").bootstrapTable('remove', {
                    field: 'index',
                    values: [true]
                });
            });

            /** 生成表格按钮点击事件 **/
            $("#createBtn").click(function () {
                var rows = $("#mytab").bootstrapTable('getData');
                if (rows == null || rows.length == 0) {
                    alert("请添加一行或者多行数据！");
                    return;
                }
                //遍历校验
                var result = false;
                $.each(rows, function (index, val) {
                    var FieldName = val['FieldName'];
                    var FieldType = val['FieldType'];
                    if (!validateStr(FieldName) || !validateStr(FieldType)) {
                        //校验不通过
                        alert("请检查数据格式");
                        result = false;
                        return false;
                    } else
                        result = true;
                });
                if (result) {
                    $("#myModal1").modal('toggle');
                }

            });

            /** 确定按钮点击事件 **/
            $("#confirmBtn").click(function () {
                var tableName = $("#TableName").val();
                var rows = $("#mytab").bootstrapTable('getData');
                $("#TableName").val('');
                $.each(rows, function (index, val) {
                    val['FieldType'] = deviceTypeArr[parseInt(val['FieldType']) - 1];
                    val['IsPKey'] = validateBool(val['IsPKey']);
                    val['NotNull'] = validateBool(val['NotNull']);
                    val['Increment'] = validateBool(val['Increment']);
                });


                //请求Ajax
                $.ajax({
                    url: MAINHOST + "/DeviceTable/createDeviceTable",
                    type: "POST",
                    data: {
                        tableName: tableName,
                        rows: JSON.stringify(rows)
                    },
                    success: function (result) {
                        if (result.code == 200) {
                            alert("创建表格成功！");
                        } else {
                            alert(result.msg);
                        }
                    },
                    error: function (jqXHR, textStatus, error) {
                        alert(jqXHR)
                        alert(textStatus)
                        alert(error)
                    }
                });
            });

            function validateBool(str) {
                if (!str || str === undefined ||
                    str.length <= 0 || str === "否"
                    || str === "false")
                    return false;
                return true;

            }

            function validateStr(str) {
                if (str === null || str === undefined || str.length <= 0) {
                    return false;
                }
                return true;
            }
        });
    </script>
    <div th:replace="fragments/toolbar :: toolbar('device-table')"></div>
    <div th:replace="fragments/modals :: modals('device-table')"></div>
</div>