<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>后端管理平台</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--<link href="assets/materialize/css/materialize.min.css" rel="stylesheet"/>-->
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-table.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css#family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!--<link href="@{assets/js/Lightweight-Chart/cssCharts.css}" rel="stylesheet">-->
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html" target="content">
                <strong>后端管理平台</strong>
                <!--<span sec:authorize="hasRole('ROLE_ADMIN')">管理员额外内容</span>-->
            </a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i><span sec:authentication="name"></span> <i
                        class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>

    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> 管理<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="DeviceType.html">设备类型管理</a>
                        </li>
                        <li>
                            <a href="DeviceTable.html">新增设备定义表</a>
                        </li>
                        <li>
                            <a href="Factorys.html">工厂管理</a>
                        </li>
                        <li>
                            <a href="Resource.html">资源管理</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
</div>

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            WELCOME <span sec:authentication="name"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">管理</a></li>
            <li><a href="#">新增设备类型</a></li>
            <li><a href="#"></a></li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="mytab" class="table table-hover">
            </table>
        </div>
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
        <button id="btn_edit" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
        </button>
        <button id="btn_delete" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>
    <!-- /. PAGE INNER  -->

    <!-- 添加模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">新增设备类型</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型名称</span>
                        </span>
                        <input type="text" class="form-control" id="TypeName">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-compressed"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库名</span>
                        </span>
                        <input type="text" class="form-control" id="TypeDBName">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型描述</span>
                        </span>
                        <input type="text" class="form-control" id="TypeDescription">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型表名</span>
                        </span>
                        <input type="text" class="form-control" id="TypeTableName">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-home" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库IP</span>
                        </span>
                        <input type="text" class="form-control" id="DBIP">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="addBtn">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 修改模态框（Modal） -->
    <div class="modal fade" id="myModal1" tabindex="-2" role="dialog" aria-labelledby="myModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel1">修改设备类型</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="color:#3e8f3e;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型名称</span>
                        </span>
                        <input type="text" class="form-control" id="TypeName1">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-compressed"
                              style="color:#075CB3;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库名</span>
                        </span>
                        <input type="text" class="form-control" id="TypeDBName1">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-pencil" style="color:#8b1014;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型描述</span>
                        </span>
                        <input type="text" class="form-control" id="TypeDescription1">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-list-alt" style="color:#31b0d5;font-size: 16px;">
                            <span style="color:#5a5a5a;">类型表名</span>
                        </span>
                        <input type="text" class="form-control" id="TypeTableName1">
                    </div>
                    <div class="input-group">
                        <span class="glyphicon glyphicon-home" style="color:#985f0d;font-size: 16px;">
                            <span style="color:#5a5a5a;">数据库IP</span>
                        </span>
                        <input type="text" class="form-control" id="DBIP1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="updateBtn">修改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>


<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../static/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap Js -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="../static/assets/js/jquery.metisMenu.js"></script>
<!-- Custom Js -->
<script src="../static/assets/js/custom-scripts.js"></script>

<!-- Custom Js -->
<script src="../static/js/main.js"></script>

<!-- Bootstrap table Js -->
<script src="../static/js/bootstrap-table.js"></script>
<script src="../static/js/locale/bootstrap-table-zh-CN.js"></script>

<script type="text/javascript">
    $(function () {
        var MAINHOST = "http://192.168.0.17:8080";

        $("#mytab").bootstrapTable({
            url: MAINHOST + '/DataOperation/getDeviceType',
            method: 'get',
            dataType: "json",
            cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            toolbar: '#toolbar',                //工具按钮用哪个容器
            // clickToSelect: true,
            striped: true,//设置为 true 会有隔行变色效果
            undefinedText: "空",//当数据为 undefined 时显示的字符
            pagination: true, //分页
            paginationLoop: false,//设置为 true 启用分页条无限循环的功能。
            // showToggle: "true",//是否显示 切换试图（table/card）按钮
            // cardView: false,                    //是否显示详细视图
            // detailView: false,                   //是否显示父子表
            showRefresh: true,                  //是否显示刷新按钮
            singleSelect: true, // 单选checkbox
            // showColumns: true,//是否显示 内容列下拉框
            pageNumber: 1,//如果设置了分页，首页页码
            //showPaginationSwitch: true,//是否显示 数据条数选择框
            pageSize: 5,//如果设置了分页，页面数据条数
            pageList: [5, 10, 20, 40],	//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
            paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<
            paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>
            // singleSelect: false,//设置True 将禁止多选
            // search: true, //显示搜索框
            data_local: "zh-US",//表格汉化
            sidePagination: "server", //服务端处理分页
            queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                return {//这里的params是table提供的
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1
                };
            },
            // idField: "userId",//指定主键列
            columns: [{
                radio: true,
                visible: true  //是否显示
            }, {
                field: 'TypeId',
                title: 'ID',
                align: "center"
            }, {
                field: 'TypeName',
                title: '类型名称',
                align: "center"
            }, {
                field: 'TypeDBName',
                title: '数据库名',
                align: "center"
            }, {
                field: 'TypeDescription',
                title: '类型描述',
                align: "center"
            }, {
                field: 'TypeTableName',
                title: '类型表名',
                align: "center"
            }, {
                field: 'DBIP',
                title: '数据库IP',
                align: "center"
            }]
        });

        /***添加按钮点击事件***/
        $("#btn_add").click(function () {
            $('#myModal').modal('toggle');
        });

        $("#addBtn").click(function () {

            $.ajax({
                url: MAINHOST + "/DataOperation/insertDeviceType",
                type: "POST",
                data: {
                    TypeName: $("#TypeName").val(),
                    TypeDBName: $("#TypeDBName").val(),
                    TypeDescription: $("#TypeDescription").val(),
                    TypeTableName: $("#TypeTableName").val(),
                    DBIP: $("#DBIP").val()
                },
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        alert("添加成功！");
                        //更新table
                        $('#mytab').bootstrapTable('refresh', {
                            query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                return {//这里的params是table提供的
                                    rows: params.limit,                         //页面大小
                                    page: (params.offset / params.limit) + 1
                                };
                            }
                        });
                    } else {
                        alert(result.msg);
                    }
                },
                error: function (XMLHttpRequest, msg, error) {
                    console.log("XMLHttpRequest-->" + XMLHttpRequest);
                    console.log("msg-->" + msg);
                    console.log("error-->" + error);
                }
            });


            $("#TypeName").val("");
            $("#TypeDBName").val("");
            $("#TypeDescription").val("");
            $("#TypeTableName").val("");
            $("#DBIP").val("");
            $('#myModal').modal('toggle');
        });
        /***添加按钮点击事件***/


        /***修改按钮点击事件***/
        $("#btn_edit").click(function () {

            var datas = $("#mytab").bootstrapTable('getSelections');
            if (datas === undefined || datas === null || datas.length <= 0) {
                alert("请选择一条记录!");
                return;
            }

            var data = datas[0];
            $("#TypeName1").val(data["TypeName"]);
            $("#TypeDBName1").val(data["TypeDBName"]);
            $("#TypeDescription1").val(data["TypeDescription"]);
            $("#TypeTableName1").val(data["TypeTableName"]);
            $("#DBIP1").val(data["DBIP"]);

            $("#myModal1").modal('toggle');

        });

        $("#updateBtn").click(function () {
            var data = $("#mytab").bootstrapTable('getSelections')[0];

            $.ajax({
                url: MAINHOST + "/DataOperation/updateDeviceType",
                type: "POST",
                data: {
                    TypeId: data["TypeId"],
                    TypeName: $("#TypeName1").val(),
                    TypeDBName: $("#TypeDBName1").val(),
                    TypeDescription: $("#TypeDescription1").val(),
                    TypeTableName: $("#TypeTableName1").val(),
                    DBIP: $("#DBIP1").val()
                },
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        alert("修改成功！");
                        //更新table
                        $('#mytab').bootstrapTable('refresh', {
                            query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                return {//这里的params是table提供的
                                    rows: params.limit,                         //页面大小
                                    page: (params.offset / params.limit) + 1
                                };
                            }
                        });
                    } else {
                        alert(result.msg);
                    }
                },
                error: function (XMLHttpRequest, msg, error) {
                    console.log("XMLHttpRequest-->" + XMLHttpRequest);
                    console.log("msg-->" + msg);
                    console.log("error-->" + error);
                }
            });


            $("#TypeName1").val("");
            $("#TypeDBName1").val("");
            $("#TypeDescription1").val("");
            $("#TypeTableName1").val("");
            $("#DBIP1").val("");
            $('#myModal1').modal('toggle');
        });
        /***修改按钮点击事件***/

        /***删除按钮点击事件***/
        $("#btn_delete").click(function () {
            var datas = $("#mytab").bootstrapTable('getSelections');
            if (datas === undefined || datas === null || datas.length <= 0) {
                alert("请选择一条记录!");
                return;
            }

            var result = confirm("是否删除此条记录?");
            if (result == true) {
                var data = datas[0];

                $.ajax({
                    url: MAINHOST + "/DataOperation/deleteDeviceType",
                    type: "POST",
                    data: {
                        TypeId: data["TypeId"],
                    },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.code == 200) {
                            alert("删除成功！");

                            //更新table
                            $('#mytab').bootstrapTable('refresh', {
                                query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                    return {//这里的params是table提供的
                                        rows: params.limit,                         //页面大小
                                        page: (params.offset / params.limit) + 1
                                    };
                                }
                            });
                        } else {
                            alert(resultData.msg);
                        }
                    },
                    error: function (XMLHttpRequest, msg, error) {
                        console.log("XMLHttpRequest-->" + XMLHttpRequest);
                        console.log("msg-->" + msg);
                        console.log("error-->" + error);
                    }
                });
            }
        });
        /***删除按钮点击事件***/

    });

</script>
</body>
</html>