<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head th:include="fragments/head :: head('后端管理平台')">
</head>
<body>

<div id="page-wrapper" layout:fragment="~{content}">
    <div class="header">
        <h1 class="page-header">
            WELCOME <span sec:authentication="name"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">管理</a></li>
            <li><a href="#">工厂管理</a></li>
            <li><a href="#"></a></li>
        </ol>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table id="mytab" class="table table-hover">
            </table>
        </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            /*<![CDATA[*/
            var MAINHOST = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/'';
            /*]]>*/
            var allUserName = [];

            $("#mytab").bootstrapTable({
                url: MAINHOST + '/Factory/getFactorys',
                method: 'get',
                dataType: "json",
                cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                toolbar: '#toolbar',                //工具按钮用哪个容器
                // clickToSelect: true,
                striped: true,//设置为 true 会有隔行变色效果
                undefinedText: "空",//当数据为 undefined 时显示的字符
                pagination: true, //分页
                paginationLoop: false,//设置为 true 启用分页条无限循环的功能。
                // showToggle: "true",//是否显示 切换试图（table/card）按钮
                // cardView: false,                    //是否显示详细视图
                // detailView: false,                   //是否显示父子表
                showRefresh: true,                  //是否显示刷新按钮
                singleSelect: true, // 单选checkbox
                // showColumns: true,//是否显示 内容列下拉框
                pageNumber: 1,//如果设置了分页，首页页码
                //showPaginationSwitch: true,//是否显示 数据条数选择框
                pageSize: 5,//如果设置了分页，页面数据条数
                pageList: [5, 10, 20, 40],	//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
                paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<
                paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>
                // singleSelect: false,//设置True 将禁止多选
                // search: true, //显示搜索框
                data_local: "zh-US",//表格汉化
                sidePagination: "server", //服务端处理分页
                queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                    return {//这里的params是table提供的
                        rows: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1
                    };
                },
                onClickRow: function (row, $element) {
                    selectRow(row, $element);
                }, onCheck: function (row, $element) {
                    //点击每列前的checkbox时
                },
                // idField: "userId",//指定主键列
                columns: [{
                    radio: true,
                    field: 'index',
                    align: "center",
                    visible: true  //是否显示
                }, {
                    field: 'FactoryId',
                    title: '工厂ID',
                    align: "center"
                }, {
                    field: 'BeiZhu',
                    title: '备注',
                    align: "center"
                }, {
                    field: 'FactoryName',
                    title: '工厂名称',
                    align: "center"
                }, {
                    field: 'UserName',
                    title: '所属用户',
                    align: "center"
                }, {
                    field: 'id',
                    visible: false  //是否显示
                }]
            });

            /** 获取所有用户 **/
            function getAllUser(success) {
                if (allUserName == null || allUserName.length <= 0) {
                    $.ajax({
                        url: MAINHOST + "/Factory/getAllUserName",
                        type: "GET",
                        dataType: "json",
                        success: function (result) {

                            if (result.code == 200) {
                                var data = result.data;
                                allUserName = data;
                                success();
                            }
                        },
                        error: function (XMLHttpRequest, msg, error) {
                            console.log("XMLHttpRequest-->" + XMLHttpRequest);
                            console.log("msg-->" + msg);
                            console.log("error-->" + error);
                        }
                    });
                } else {
                    success();
                }

            }


            /***添加按钮点击事件***/
            $("#btn_add").click(function () {
                getAllUser(function () {
                    $("#UserName").empty();
                    $.each(allUserName, function (index, val) {
                        var userName = val['UserName'];
                        $("#UserName").append("<option value='" + userName + "'>" + userName + "</option>");
                    });
                    $("#UserName").selectpicker('refresh');
                    $('#myModal').modal('toggle');
                });
            });


            $("#addBtn").click(function () {
                //校验输入框
                if ($("#FactoryId").val() === null ||
                    $("#FactoryId").val() === undefined ||
                    $("#FactoryId").val().length <= 0 ||
                    $("#FactoryName").val() === null ||
                    $("#FactoryName").val() === undefined ||
                    $("#FactoryName").val().length <= 0 ||
                    $("#UserName").val() === null ||
                    $("#UserName").val() === undefined ||
                    $("#UserName").val().length <= 0) {
                    alert("请输入必要数据！");
                    return;
                }

                $.ajax({
                    url: MAINHOST + "/Factory/insertFactory",
                    type: "POST",
                    data: {
                        FactoryId: $("#FactoryId").val(),
                        FactoryName: $("#FactoryName").val(),
                        BeiZhu: $("#BeiZhu").val(),
                        UserName: $("#UserName").val()
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 200) {
                            alert("添加成功！");
                            //更新table
                            $('#mytab').bootstrapTable('refresh', {
                                query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                    return {//这里的params是table提供的
                                        rows: params.limit,                         //页面大小
                                        page: (params.offset / params.limit) + 1
                                    };
                                }
                            });
                        } else {
                            alert(result.msg);
                        }
                    },
                    error: function (XMLHttpRequest, msg, error) {
                        console.log("XMLHttpRequest-->" + XMLHttpRequest);
                        console.log("msg-->" + msg);
                        console.log("error-->" + error);
                    }
                });


                $("#FactoryId").val("");
                $("#FactoryName").val("");
                $("#BeiZhu").val("");
                $("#UserName").val("");
                $('#myModal').modal('toggle');
            });
            /***添加按钮点击事件***/

            /***修改按钮点击事件***/
            $("#btn_edit").click(function () {
                getAllUser(function () {
                    var datas = $("#mytab").bootstrapTable('getSelections');
                    if (datas === undefined || datas === null || datas.length <= 0) {
                        alert("请选择一条记录!");
                        return;
                    }
                    var data = datas[0];

                    $("#UserName1").empty();
                    $.each(allUserName, function (index, val) {
                        var userName = val['UserName'];
                        $("#UserName1").append("<option value='" + userName + "'>" + userName + "</option>");
                    });
                    $("#UserName1").selectpicker('refresh');
                    $("#UserName1").selectpicker('val', data["UserName"]);
                    var data = datas[0];
                    $("#FactoryId1").val(data["FactoryId"]);
                    $("#FactoryName1").val(data["FactoryName"]);
                    $("#BeiZhu1").val(data["BeiZhu"]);
                    $("#myModal1").modal('toggle');
                });
            });

            $("#updateBtn").click(function () {
                var data = $("#mytab").bootstrapTable('getSelections')[0];
                $.ajax({
                    url: MAINHOST + "/Factory/updateFactory",
                    type: "POST",
                    data: {
                        id: data.id,
                        FactoryId: data.FactoryId,
                        FactoryName: data.FactoryName,
                        BeiZhu: data.BeiZhu,
                        UserName: data.UserName
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 200) {
                            alert("修改成功！");
                            //更新table
                            $('#mytab').bootstrapTable('refresh', {
                                query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                    return {//这里的params是table提供的
                                        rows: params.limit,                         //页面大小
                                        page: (params.offset / params.limit) + 1
                                    };
                                }
                            });
                        } else {
                            alert(result.msg);
                        }
                    },
                    error: function (XMLHttpRequest, msg, error) {
                        console.log("XMLHttpRequest-->" + XMLHttpRequest);
                        console.log("msg-->" + msg);
                        console.log("error-->" + error);
                    }
                });


                $("#FactoryId1").val("");
                $("#FactoryName1").val("");
                $("#BeiZhu1").val("");
                $('#myModal1').modal('toggle');
            });
            /***修改按钮点击事件***/

            /***删除按钮点击事件***/
            $("#btn_delete").click(function () {
                var datas = $("#mytab").bootstrapTable('getSelections');
                if (datas === undefined || datas === null || datas.length <= 0) {
                    alert("请选择一条记录!");
                    return;
                }

                var result = confirm("是否删除此条记录?");
                if (result == true) {
                    var data = datas[0];

                    $.ajax({
                        url: MAINHOST + "/Factory/deleteFactory",
                        type: "POST",
                        data: {
                            id: data.id,
                            FactoryId: data.FactoryId,
                            FactoryName: data.FactoryName,
                            BeiZhu: data.FactoryName,
                            UserName: data.UserName
                        },
                        dataType: "json",
                        success: function (resultData) {
                            if (resultData.code == 200) {
                                alert("删除成功！");

                                //更新table
                                $('#mytab').bootstrapTable('refresh', {
                                    query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                        return {//这里的params是table提供的
                                            rows: params.limit,                         //页面大小
                                            page: (params.offset / params.limit) + 1
                                        };
                                    }
                                });
                            } else {
                                alert(resultData.msg);
                            }
                        },
                        error: function (XMLHttpRequest, msg, error) {
                            console.log("XMLHttpRequest-->" + XMLHttpRequest);
                            console.log("msg-->" + msg);
                            console.log("error-->" + error);
                        }
                    });
                }
            });

            /***删除按钮点击事件***/


            /** 选中行事件 **/
            function selectRow(row, $element) {
                // alert(JSON.stringify(row));
                var id = row.id;
                $("#mytab").bootstrapTable('refreshOptions', {
                    url: MAINHOST + '/Plane/getPlanes',
                    method: 'get',
                    toolbar: '#toolbar_plane',
                    queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                        return {//这里的params是table提供的
                            rows: params.limit,                         //页面大小
                            page: (params.offset / params.limit) + 1,
                            id: row.id
                        };
                    },
                    onClickRow: function (row, $element) {
                    }, onCheck: function (row, $element) {
                        //点击每列前的checkbox时
                    },
                    onClickCell: function (field, value, row, $element) {
                        if (field === "plane_url") {
                            //点击了图片
                            var url = value;
                        }
                    },
                    onLoadSuccess: function () {
                        $(".bs-checkbox").css({
                            'text-align': 'center',
                            'vertical-align': 'middle'
                        });
                        initImageViewer();
                    },
                    // idField: "userId",//指定主键列
                    columns: [{
                        radio: true,
                        field: 'index',
                        // align: "center",
                        valign: "middle",
                        visible: true  //是否显示
                    }, {
                        field: 'factory_id',
                        title: '工厂ID',
                        align: "center",
                        valign: "middle"
                    }, {
                        field: 'plane_url',
                        title: '工厂平面',
                        align: "center",
                        valign: "middle",
                        formatter: function (value, row, index) {
                            var node = "<a class='fancybox-buttons' data-fancybox-group='button' href='" + value + "'><img style='width: 250px;height: 150px;' src='" + value + "' alt='' /></a>";
                            return node;
                        }

                    }]
                });

            }
        });

        function initImageViewer() {
            $('.fancybox-buttons').fancybox({});
        }

        /** 选中行事件 **/
    </script>

    <div th:replace="fragments/toolbar :: toolbar('factorys')"></div>
    <div th:replace="fragments/modals :: modals('factorys')"></div>
</div>

