<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      >
<head th:include="fragments/head :: head('后端管理平台')">
</head>

<body>

<div id="page-wrapper" layout:fragment="~{content}">
    <div class="header">
        <h1 class="page-header">
            WELCOME <span sec:authentication="name"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#"></a></li>
        </ol>
    </div>
    <!--<iframe name="content" src="home.html" frameborder="0"></iframe>-->
    <div id="content">我是首页</div>
    <!-- /. PAGE INNER  -->

</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->



</body>

</html>