<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>后端管理平台</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--<link href="assets/materialize/css/materialize.min.css" rel="stylesheet"/>-->
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-select.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap-editable.css" rel="stylesheet"/>

    <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css#family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!--<link href="@{assets/js/Lightweight-Chart/cssCharts.css}" rel="stylesheet">-->

    <link href="../static/css/treeTable/jquery.treetable.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/treeTable/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html" target="content">
                <strong>后端管理平台</strong>
                <!--<span sec:authorize="hasRole('ROLE_ADMIN')">管理员额外内容</span>-->
            </a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i><span sec:authentication="name"></span> <i
                        class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>

    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> 管理<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="DeviceType.html">设备类型管理</a>
                        </li>
                        <li>
                            <a href="DeviceTable.html">新增设备定义表</a>
                        </li>
                        <li>
                            <a href="Factorys.html">工厂管理</a>
                        </li>
                        <li>
                            <a href="Resource.html">资源管理</a>
                        </li>
                        <li>
                            <a href="ClientManager.html" >客户管理</a>
                        </li>
                        <li>
                            <a href="SaleManager.html" >销售管理</a>
                        </li>
                        <li>
                            <a href="TaiZhangManager.html" >台账管理</a>
                        </li>
                        <li>
                            <a href="AlarmPushManager.html" >报警推送管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
</div>

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            WELCOME <span sec:authentication="name"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">管理</a></li>
            <li><a href="#">资源管理</a></li>
            <li><a href="#"></a></li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="mytab" class="table">
            </table>
        </div>
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
        <button id="btn_delete" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>
    <!-- /. PAGE INNER  -->
</div>


<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../static/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap Js -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="../static/assets/js/jquery.metisMenu.js"></script>
<!-- Custom Js -->
<script src="../static/assets/js/custom-scripts.js"></script>

<!-- Custom Js -->
<script src="../static/js/main.js"></script>

<!-- Bootstrap table Js -->
<script src="../static/js/bootstrap-table.js"></script>
<script src="../static/js/locale/bootstrap-table-zh-CN.js"></script>
<!--<script src="../static/js/tree-table.js"></script>-->


<script src="../static/js/treeTable/jquery.treetable.js"></script>

<script type="text/javascript">
    $(function () {
        var MAINHOST = "http://localhost:8080";

        $.ajax(MAINHOST + '/ResourceManage/getAllResources',{
            type:'GET',
            dataType: 'json',
            success: function (result) {

                alert(JSON.stringify(result.data))
            },
            error: function (XMLHttpRequest, msg, error) {
                console.log("XMLHttpRequest-->" + XMLHttpRequest);
                console.log("msg-->" + msg);
                console.log("error-->" + error);
            }
        });

        // var $table = $("#mytab");
        // $.ajax({
        //    url: MAINHOST + '/ResourceManage/getAllResources',
        //     type:'GET',
        //     dataType:'json',
        //     success:function (result) {
        //         var obj = JSON.parse(result.data);
        //
        //     },
        //     error: function (XMLHttpRequest, msg, error) {
        //         console.log("XMLHttpRequest-->" + XMLHttpRequest);
        //         console.log("msg-->" + msg);
        //         console.log("error-->" + error);
        //     }
        // });



        // $('#mytab').treegridData({
        //     id: 'Id',
        //     parentColumn: 'parent_id',
        //     type: "GET", //请求数据的ajax类型
        //     url: MAINHOST + '/ResourceManage/getAllResources',   //请求数据的ajax的url
        //     ajaxParams: {}, //请求数据的ajax的data属性
        //     expandColumn: null,//在哪一列上面显示展开按钮
        //     striped: true,   //是否各行渐变色
        //     bordered: true,  //是否显示边框
        //     //expandAll: false,  //是否全部展开
        //     columns: [
        //         {
        //             title: '机构名称',
        //             field: 'Name'
        //         }, {
        //             title: '机构描述',
        //             field: 'Desc'
        //         }
        //     ]
        // });

    });
</script>