<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head th:include="fragments/head :: head('后端管理平台')">
</head>
<body>
<div id="page-wrapper" layout:fragment="~{content}">
    <div class="header">
        <h1 class="page-header">
            WELCOME <span sec:authentication="name"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">管理</a></li>
            <li><a href="#">销售管理</a></li>
            <li><a href="#"></a></li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="mytab" class="table table-hover">
            </table>
        </div>
    </div>


<script th:inline="javascript">
    $(function () {
        var MAINHOST = "http://localhost:8080";
        var currentIndex = -1;

        $("#mytab").bootstrapTable({
            url: MAINHOST + '/ksj/getSaleInfo',
            method: 'get',
            dataType: "json",
            cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            toolbar: '#toolbar',                //工具按钮用哪个容器
            clickToSelect: true,
            striped: true,//设置为 true 会有隔行变色效果
            undefinedText: "空",//当数据为 undefined 时显示的字符
            pagination: true, //分页
            paginationLoop: false,//设置为 true 启用分页条无限循环的功能。
            // showToggle: "true",//是否显示 切换试图（table/card）按钮
            // cardView: false,                    //是否显示详细视图
            // detailView: false,                   //是否显示父子表
            showRefresh: true,                  //是否显示刷新按钮
            singleSelect: true, // 单选checkbox
            // showColumns: true,//是否显示 内容列下拉框
            pageNumber: 1,//如果设置了分页，首页页码
            //showPaginationSwitch: true,//是否显示 数据条数选择框
            pageSize: 5,//如果设置了分页，页面数据条数
            pageList: [5, 10, 20, 40],	//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
            paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<
            paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>
            // singleSelect: false,//设置True 将禁止多选
            // search: true, //显示搜索框
            data_local: "zh-US",//表格汉化
            sidePagination: "server", //服务端处理分页
            queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                return {//这里的params是table提供的
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1
                };
            },
            onClickRow: function (row, $element) {
                currentIndex = $element.data('index');


            }, onCheck: function (row, $element) {
                //点击每列前的checkbox时
                currentIndex = $element.data('index');


            },
            // idField: "userId",//指定主键列
            columns: [{
                radio: true,
                visible: true  //是否显示
            }, {
                field: 'id',
                title: 'ID',
                align: "center"
            }, {
                field: 'client_id',
                title: '销售客户',
                align: "center"
            }, {
                field: 'equipment_name',
                title: '器材名称',
                align: "center"
            }, {
                field: 'equipment_price',
                title: '器材价钱(元）',
                align: "center"
            }, {
                field: 'description',
                title: '描述',
                align: "center"
            }, {
                field: 'note',
                title: '备注',
                align: "center"
            }]
        });

        /***添加按钮点击事件***/
        $("#btn_add").click(function () {
            $('#myModal').modal('toggle');
        });

        $("#addBtn").click(function () {

            $.ajax({
                url: MAINHOST + "/ksj/insertSale",
                type: "POST",
                data: {
                    client_id: $("#client_id").val(),
                    equipment_name: $("#equipment_name").val(),
                    equipment_price: $("#equipment_price").val(),
                    description: $("#description").val(),
                    note: $("#note").val()
                },
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        alert("添加成功！");
                        //更新table
                        $('#mytab').bootstrapTable('refresh', {
                            query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                return {//这里的params是table提供的
                                    rows: params.limit,                         //页面大小
                                    page: (params.offset / params.limit) + 1
                                };
                            }
                        });
                    } else {
                        alert(result.msg);
                    }
                },
                error: function (XMLHttpRequest, msg, error) {
                    console.log("XMLHttpRequest-->" + XMLHttpRequest);
                    console.log("msg-->" + msg);
                    console.log("error-->" + error);
                }
            });


            $("#client_id").val("");
            $("#equipment_name").val("");
            $("#equipment_price").val("");
            $("#description").val("");
            $("#note").val("");
            $('#myModal').modal('toggle');
        });
        /***添加按钮点击事件***/


        /***修改按钮点击事件***/
        $("#btn_edit").click(function () {

            if (currentIndex >= 0) {
                var data = $("#mytab").bootstrapTable("getData", {
                    useCurrentPage: true
                })[currentIndex];

                $("#client_id1").val(data["client_id"]);
                $("#equipment_name1").val(data["equipment_name"]);
                $("#equipment_price1").val(data["equipment_price"]);
                $("#description1").val(data["description"]);
                $("#note1").val(data["note"]);
                $("#myModal1").modal('toggle');
            }else
                alert("请选择一条记录!")
        });

        $("#updateBtn").click(function () {
            var data = $("#mytab").bootstrapTable("getData", {
                useCurrentPage: true
            })[currentIndex];

            $.ajax({
                url: MAINHOST + "/ksj/modifySaleById",
                type: "POST",
                data: {
                    id: data["id"],
                    client_id: $("#client_id1").val(),
                    equipment_name: $("#equipment_name1").val(),
                    equipment_price: $("#equipment_price1").val(),
                    description: $("#description1").val(),
                    note: $("#note1").val()
                },
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        alert("修改成功！");
                        //更新table
                        $('#mytab').bootstrapTable('refresh', {
                            query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                return {//这里的params是table提供的
                                    rows: params.limit,                         //页面大小
                                    page: (params.offset / params.limit) + 1
                                };
                            }
                        });
                    } else {
                        alert(result.msg);
                    }
                },
                error: function (XMLHttpRequest, msg, error) {
                    console.log("XMLHttpRequest-->" + XMLHttpRequest);
                    console.log("msg-->" + msg);
                    console.log("error-->" + error);
                }
            });


            $("#client_id1").val("");
            $("#equipment_name1").val("");
            $("#equipment_price1").val("");
            $("#description1").val("");
            $("#note1").val("");
            $('#myModal1').modal('toggle');
        });
        /***修改按钮点击事件***/

        /***删除按钮点击事件***/
        $("#btn_delete").click(function () {
            if (currentIndex >= 0){
                var result = confirm("是否删除此条记录?");
                if (result == true) {
                    var data = $("#mytab").bootstrapTable("getData", {
                        useCurrentPage: true
                    })[currentIndex];

                    $.ajax({
                        url: MAINHOST + "/ksj/deleteSaleById",
                        type: "POST",
                        data: {
                            id: data["id"],
                        },
                        dataType: "json",
                        success: function (resultData) {
                            if (resultData.code == 200) {
                                alert("删除成功！");
                                //更新table
                                $('#mytab').bootstrapTable('refresh', {
                                    query: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                                        return {//这里的params是table提供的
                                            rows: params.limit,                         //页面大小
                                            page: (params.offset / params.limit) + 1
                                        };
                                    }
                                });
                            } else {
                                alert(resultData.msg);
                            }
                        },
                        error: function (XMLHttpRequest, msg, error) {
                            console.log("XMLHttpRequest-->" + XMLHttpRequest);
                            console.log("msg-->" + msg);
                            console.log("error-->" + error);
                        }
                    });
                }
            }else
                alert("请选择一条记录!")
        });
        /***删除按钮点击事件***/

    });

</script>
    <div th:replace="fragments/toolbar :: toolbar('sale_manage')"></div>
    <div th:replace="fragments/modals :: modals('sale_manage')"></div>
</div>
</body>
</html>